<div class="container-fluid">
  <div class="page-header">
		<h1>In Progress <small>Auction currently being bid on</small></h1>
  </div>
	<div class="row">
    <div class="col-md-12">
			<table id="in_progress" class="table table-hover">
				<thead>
					<tr>
						<th>ItemID</th>
						<th>Item Title</th>
						<th>Seller</th>
						<th>Current Bid</th>
						<th>Bids</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
      <% @saved_searches.each do |saved_search| %>
      <div class="page-header">
        <h2>Saved Search <small><%= saved_search.capitalize %></small></h2>
      </div>
      <table class="saved_search table table-hover" data-saved-search="<%= saved_search %>">
				<thead>
					<tr>
						<th>ItemID</th>
						<th>Item Title</th>
						<th>Seller</th>
						<th>Current Bid</th>
						<th>Bids</th>
						<th>Ignore?</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
      <% end %>
    </div>
	</div>
</div>
