<h1>Hello, Rails!</h1>
<h1>butt</h1>
<% debug "butt" %>
<%= form_for :welcome do |f| %>
  <p>
    <%= f.label :search %><br>
    <%= f.text_field :search %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
