<div class="container-fluid">
  <div class="page-header">
		<h1>In Progress <small>Auction currently being bid on</small></h1>
  </div>
	<div class="row">
    <div class="col-md-12">
			<table id="in_progress" class="table">
				<thead>
					<tr>
						<th>ItemID</th>
						<th>Item Title</th>
						<th>Seller</th>
						<th>Current Bid</th>
						<th>Bids</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
      <div class="page-header">
        <h2>Saved Search <small>Commodore</small></h2>
      </div>
			<table id="saved_search_commodore" class="table">
				<thead>
					<tr>
						<th>ItemID</th>
						<th>Item Title</th>
						<th>Seller</th>
						<th>Current Bid</th>
						<th>Bids</th>
						<th>Link</th>
						<th>Ignore?</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
    </div>
	</div>
</div>
